@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
  Margin: 0;
  Padding: 0;
  box-sizing: border-box;
}



html {
    background-color: #fff;
    color: #555;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/*---------------------------------------*/
               /*Header*/
/*---------------------------------------*/


/*---------------------------------------*/
               /*total followers*/
/*---------------------------------------*/

.my-container {
  border: 1px solid blue;
  font-family: 'Inter', sans-serif;
}

.my-col {
  border: 1px dotted green;
}

.my-row {
  border: 1px solid red;
  height: --;
}

.box {
  position: relative;
  text-align: center;
  margin: 2%;
  height: 200px;
  width: auto;
  border-radius: 2%;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 400;
  font-size: 14px;
  color: hsl(228, 34%, 66%);
}

.head {
  color: #fff;
  background-color: hsl(228, 28%, 20%);
  height: 136px;
}


