* {
  Margin: 0;
  Padding: 0;
  box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #555;
    font-family: 'lato', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


/*---------------------------------------*/
               /*Header*/
/*---------------------------------------*/


/*---------------------------------------*/
               /*total followers*/
/*---------------------------------------*/

.my-container {
  border: 1px solid blue;
}

.my-col {
  border: 1px dotted green;
}

.my-row {
  border: 1px solid red;
  height: --;
}

.box {
  position: relative;
  text-align: center;
  margin: 2%;

  height: 200px;
  width: auto;
  border-radius: 2%;

}


